<div class="span10">
  <div class="hero-unit">
    <p>Twitter Trends | <%= @town_data[:name] %> </p>
    <% if session[:message] %>
      <div class="alert alert-primary alert-dismissible" role="alert">
        <a class="close" data-dismiss="alert">×</a>
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="span4">
  <table class="table">
    <thead>
      <tr>
        <% @table_sorts.each_pair do |data, link| %>
            <th scope="col"><%== link %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @town_trends.each_with_index do |trend, i| %>
        <tr>
          <th scope="row"><%= trend[:id] %></th>
          <td>
            <a href="https://twitter.com/search?q=<%= chop_hashtag(trend[:name]) %>" target="_blank">
            <%= trend[:name] %>
          </td>
          <td><%= trend[:volume] == 0 ? "-" : format_number(trend[:volume]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="span6">
  <div class="town-chart" id="chart_div"></div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> Name </th>
        <th scope="col"> Total Volume </th>
        <th scope="col"> Top Trend </th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><%= @town_data[:name] %></th>
          <td><%= format_number(@town_data[:total_volume]) %></td>
          <td><%= @town_data[:trend] %></td>
        </tr>
    </tbody>
  </table>
</div>
